<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/header.ejs")%>
  <body>
    <%- include("../partials/nav.ejs")%>
    <h2>Resources for Jobs</h2>
    <div class="job content">
        <h3 class="title"><a href="http://www.<%= job.webpage %>"><%= job.name %></a></h3>

        <p class="phone"><%= job.phone %></p>

        <p class="street"><%= job.street %></p>
        <p class="city"><%= job.city %>, <span class="state"><%= job.state %></span> <span class="zip"><%= job.zip %></span></p>
        <hr>
        <a class="delete download-btn" data-food="<%= job._id %>">DELETE</a>
    </div>
    <%- include("../partials/footer.ejs")%>
    <script>
        const deleteBtn = document.querySelector(".delete")
        deleteBtn.addEventListener("click", e => {
            const endpoint = `/food/${deleteBtn.dataset.job}`
            fetch(endpoint, {
                method: "DELETE"
            })
            .then((response) => {
                response.json()
            })
            .then(data => window.location.href = "/job")
            .catch(error => {
                console.log(error)
            })
        })
    </script>
  </body>
</html>