<!doctype html>
<html lang="en">
  <%- include("../partials/header.ejs")%>
  <body>
    <%- include("../partials/nav.ejs")%>
    <h2>Resources for food</h2>
    <div class="foods content">
      <h3 class="title">
        <a href="http://www.<%= food.webpage %>"><%= food.name %></a>
      </h3>

      <p class="phone"><%= food.phone %></p>

      <p class="street"><%= food.street %></p>
      <p class="city">
        <%= food.city %>, <span class="state"><%= food.state %></span>
        <span class="zip"><%= food.zip %></span>
      </p>
      <hr />
      <a class="delete download-btn" data-food="<%= food._id %>">DELETE</a>
    </div>
    <%- include("../partials/footer.ejs")%>
    <script>
      const deleteBtn = document.querySelector(".delete");
      deleteBtn.addEventListener("click", (e) => {
        const endpoint = `/food/${deleteBtn.dataset.food}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => {
            response.json();
          })
          .then((data) => (window.location.href = "/food"))
          .catch((error) => {
            console.log(error);
          });
      });
    </script>
  </body>
</html>
